<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css'%}">
    {% if title %}
      <title>TutorO - {{title}}</title>
    {% else %}
      <title>TutorO</title>
    {% endif %}
  </head>
  <body>
    <div class="navbar">
    	<img src="../../static/images/TutorO_Logo.png" class="home-logo">
    	<ul class="links">
    		<li><a href="#home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a></li>
    		<li><a href="#work">Work</a></li>
    		<li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> {{user.username}}</a></li>
    	</ul>
    	<label for="nav-toggle" class="icon-burger">
    		<div class="line"></div>
    		<div class="line"></div>
    		<div class="line"></div>
    	</label>
    </div>
    <br><br><br><br><br>

    <div class="card mb-3">
      <div class="card-body">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {% endfor %}
        </div>
      {% block content %}
      {% endblock %}
      </div>
    </div>

  </body>
</html>
