<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css'%}">

    {% if title %}
      <title>TutorO - {{title}}</title>
    {% else %}
      <title>TutorO</title>
    {% endif %}

    <nav>
    	<input id="nav-toggle" type="checkbox">
      <a href="{% url 'home' %}"><img src="../../static/images/TutorO_Logo.png" class="logo"></a>
    	<ul class="links">
    		<li><a href="#projects">Subjects</a></li>
    		<li><a href="{% url 'home' %}">Contact</a></li>
        <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
    	</ul>
    	<label for="nav-toggle" class="icon-burger">
    		<div class="line"></div>
    		<div class="line"></div>
    		<div class="line"></div>
    	</label>
    </nav>

  </head>
  <body>
    {% block content %}{% endblock %}

  </body>
</html>
