{% extends 'dashboard/base.html' %}

{% block content %}

  <h1>Your Course Students</h1>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Subject</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses.all %}
          {% if course.student.all == None %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You have no student.</td>
          </tr>
          {% else %}
            {% for student in course.student.all %}
            <tr>
              <td>{{ student.first_name }}</td>
              <td>{{ course.subject.get_html_badge }}</td>
              <td>{{ student.email }}</td>
            </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
