{% extends "users/base.html" %}
{% block content %}
    <div class="wrapper" id="wrapper">
      <div class="form-wrapper sign-up-wrapper">
        <form method="POST" action="">
            {%csrf_token%}
              <label>First Name</label>
              {{form.first_name}}
              <label>Username</label>
              {{form.username}}
              <label>Email</label>
              {{form.email}}
              <label>Interests</label>
              {{form.interests}}
              <label>Password</label>
              {{form.password1}}
              <label>Re-enter password</label>
              {{form.password2}}
          <button type="submit" name="Sign Up">Sign up</button>
          <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        </form>
      </div>

      <div class="overlay-wrapper">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Student Register</h1>
            <p>{{form.errors}}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
