{% extends "users/base.html" %}
{% block content %}
    <div class="wrapper" id="wrapper">
      <div class="form-wrapper sign-up-wrapper">
        <form method="POST" action="">
            {%csrf_token%}
            {% for field in form %}
              <label>{{field.label_tag}}<label>
              <input type="text" name="" value="{{field.value}}">
            {% endfor %}
          <button type="submit" name="Sign Up">Sign up</button>
          <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
        </form>
      </div>

      <div class="overlay-wrapper">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Tutor Register</h1>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
