body {
  background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

.banner{
  width: 100%;
  height: 1000vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/Home_page.jpg);
  background-size: 100% 100%;
  background-position: center;
}

.navbar{
  width: 85%;
  margin: 0px 35px 0px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 180px;
  cursor: pointer;
  border: 75px;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

}
.navbar ul li a{
  text-decoration: none;
  color #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 100%;
  background: #009688;
}

h1 {
  font-weight: bold;
  margin: 0;
}

a {
  color: gray;
  text-decoration: none;
  font-size: 14px;
  margin: 15px 0;
}

.wrapper {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 7px 50px #bdbdbd, 0 0 0 20px #ffffffeb;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-wrapper form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
}

.form-wrapper input {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button {
  border: 3px #2196f3;
  border-radius: 20px;
  margin: 8px 0;
  outline: none;
  padding: 12px;
  box-sizing: border-box;
  border-color: #2196f3;
  box-shadow: 0 0 20px 0 #2196f3;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  background-color: #2196f3;
}

button:active {
  transform: scale(0.95);
  border-color: #000;
  box-shadow: 0 0 20px 0 #000;
  color: #fff;
  background-color: #000;
}

button:focus {
  outline: none
}

.form-wrapper {
  position: relative;
  top: 10px;
  height: 100%;
}

.sign-up-wrapper {
  left: 0;
  width: 50%;
}

.overlay-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.overlay {
  background: #2196f3;
  background: linear-gradient(to right, #90caf9, #2196f3) no-repeat 0 0 / cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 212%;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
}

.overlay-right {
  right: 0;
}

#messages {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
}
