<!DOCTYPE html>
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/home_style.css'%}">

    {% if title %}
      <title>TutorO - {{title}}</title>
    {% else %}
      <title>TutorO</title>
    {% endif %}
    <div class="banner">
        <div class="navbar">
          <img src="../../static/images/TutorO_Logo.png" class="logo">
          <ul>
              <li><a href="">Contact us</a></li>
              <li><a href="">Sign in</a></li>
          </ul>
        </div>

      <div class="home_content">
          <h1> Welcome to TutorO</h1>
          <p> Are you a student or a Tutor? </p>
          <div>
                <button type="button"><span></span><a href ="{% url 'student-register' %}">I'm a Student</a></button>
                <button type="button"><span></span><a href ="{% url 'tutor-register' %}">I'm a Tutor</a></button>
          </div>
      </div>
    </div>

  </head>
  <body>
    {% block content %}{% endblock %}

  </body>
</html>
