{% extends 'dashboard/base.html' %}

{% block content %}
    <h1>Grinds Courses</h1>
    {% for course in courses %}
      <div class="card" style="font-family: 'Poppins', sans-serif; margin: 0 30px 0 30px; padding-left:30px; border-radius: 15px; box-shadow: 5px 5px 15px LightGrey;">
        <div class="card-body">
          <h5 class="card-title">{{course.name}}</a></h5>
          <p class="card-text">{{ course.subject.get_html_badge }}</p>
          <h6 class="card-subtitle mb-2 text-muted"><label>Taught by: </label>&nbsp;&nbsp;<strong>{{ course.tutor }}</strong></h6>
          <button><a href="{% url 'studentdash:course_detail' course.id %}">Go there!</a></button>
        </div>
      </div>
      <br></br>
    {% endfor %}
{% endblock %}
